<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pagina{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('register') }}">Registrati</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <form method="POST" action="{{ url_for('search_user') }}" class="search-form">
            <input type="text" name="username" placeholder="Search user">
            <button type="submit" class="btn nav">Search</button>
        </form>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
